body {
  font-family: Overpass;
  color: #404042;
  font-size: 18px;
  margin: 0px;
}

h1,h2,h3 {
font-family: Chivo;
color: #404042;

}

h2 {

text-align: center;

}

a {
 color: #1A48E3;
 font-weight: bold;
 text-decoration: bold;
 transition: .3s;

}

a:hover {
color: #CE2FAE;

}

p {
  color: #404042;
  opacity: .7;
}

.container {
  width: 800px;
  margin: auto;
}

.banner {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('images/background3.jpg');
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
}

.banner h1 {
  color: white;
  font-size: 45px;
  margin: 0;
}

.banner p {
  color: white;
  font-size: 24px;
}

.card-white a {
color: #216353


}

.card-white a:hover {
color: #527318

}




.button-green {
  background-color:#216353;
  color: white;
  padding: 16px 48px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  transition: .3s;
}

.button-green:hover {
  background-color: #527318;
  color: white;
}


.card-white {
  background: white;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  border-radius: 4px;
  width: 200px;
  text-align: center;
  padding: 24px;
  margin: 8px;
}


.card-white img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
}

.card-white h3 {
  margin-bottom: 15px;
}


.footer {
  background: #434e52;
  text-align: center;
  padding: 15px 0px;
}

.footer p {
  color: white;
}

.footer a {

  color: #72b5b7
}

.footer a:hover {

  color: #a9fffd

}


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}